<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input class="form-control" type="text" id="postTitle" name="postTitle">
        <label for="postContent">Post</label>
        <textarea class="form-control" name="postBody" id="postContent" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer') -%> 